@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .book-cover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 3px;
    background: rgba(0, 0, 0, 0.06);
    box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
  }  
}

@layer base {
  body,html {
    @apply h-full bg-gray-100;
  }
}